
# configure nginx
# /etc/nginx/sites-available/[myconfigfile]
# create link /\ \/
# /etc/nginx/sites-enable/[myconfigfile]

server {
	listen 80;
	server_name legolicio.us *.legolicio.us
	location / {
		proxy_pass			http://127.0.0.1:8001/;
		proxy_redirect 		off;

		proxy_set_header	Host				$host;
		proxy_set_header	X-Real-IP			$remote_addr;
		proxiy_set_header	X-Forwarded-For 	$proxy_add_x_forwarded_for;

	}
}

server {
	listen 80;
	server_name heathertelfordphotography.com *.heathertelfordphotography.com
	location / {
		proxy_pass		http://127.0.0.1:8002/;
		proxy_redirect 	off;

		proxy_set_header	Host				$host;
		proxy_set_header	X-Real-IP			$remote_addr;
		proxiy_set_header	X-Forwarded-For 	$proxy_add_x_forwarded_for;

	}
}

server {
	listen 80;
	server_name jefftelford.com *.jefftelford.com
	location / {
		proxy_pass		http://127.0.0.1:8003/;
		proxy_redirect 	off;

		proxy_set_header	Host				$host;
		proxy_set_header	X-Real-IP			$remote_addr;
		proxiy_set_header	X-Forwarded-For 	$proxy_add_x_forwarded_for;

	}
}